<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PersonalLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PersonalLibraryDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PersonalLibraryFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C0E5D3B1D5C62B1006D67A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C83DFFD1D5C45EF0085FECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C83E0161D5C45EF0085FECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C83E0291D5C46730085FECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C83E0561D5C5AB80085FECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
